pink = #FF0198 // Hollywood Cerise
yellow = #FFB617 // My Sin
purple = #6E27C5 // Purple Heart
orange = #FF6600 // Blaze Orange
blue = #01C1D6 // Robin's Egg Blue
java = #1CBCD2 // Java
sun = #FAB319 // Sun
affair = #69479E // Affair
flamingo = #F16623 // Flamingo
minsk = #2E2E86 // Minsk
pomegranate = #EE362C // Pomegranate
redViolet = #EB238E // Red Violet
sushi = #7CC142 // Sushi
bombay = #ADADAF // Bombay
