// @import url('https://fonts.googleapis.com/css?family=Kanit');
// @import url('https://fonts.googleapis.com/css?family=Orbitron');

// mainFont: Kanit, sans-serif;
// headerFont: Orbitron, sans-serif;

// @font-face {
//   font-family: 
// }