html
  font-size 100%

body
  background purple
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-family 'Nova Mono', sans-serif
  font-size 2rem
  
h1
  font-family 'Orbitron', sans-serif;
  text-align center
  font-weight normal
  margin 0

h2,h3,h4,h5,h6
  font-weight normal
  font-family 'Kanit', sans-serif