@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit'), local('Kanit-Regular'), url("https://fonts.gstatic.com/s/kanit/v1/5NAKUBdE3Nb95aTaJlZOXQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url("https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono'), url("https://fonts.gstatic.com/s/novamono/v7/pN6VVBY03b9QLz-7i6Kl0VtXRa8TVwTICgirnJhmVJw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
  font-size: 100%;
}
body {
  background: #6e27c5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nova Mono', sans-serif;
  font-size: 2rem;
  background: #6e27c5;
  font-family: Kanit;
  color: #fff;
  margin: 0 0;
  padding: 0 0;
}
h1 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-weight: normal;
  text-shadow: 6px 6px 0 rgba(0,0,0,0.1);
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Kanit', sans-serif;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.nav {
  color: #fff;
  background: #6e27c5;
  border: 2px solid #6e27c5;
}
.links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header {
  background: #6e27c5;
  display: block;
  height: 150%;
  border: 2px solid #6e27c5;
}
.about {
  height: 150%;
  background: #ff0198;
  border: 2px solid #ff0198;
}
.portfolio {
  height: 150%;
  background: #ffb617;
  border: 2px solid #ffb617;
}
.contact {
  height: 150%;
  background: #2e2e86;
  border: 2px solid #2e2e86;
}
.social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #2e2e86;
}
.social li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.logo {
  height: 40px;
}
