// Import all partials
@require './_*.styl'

body
  background: purple
  font-family: Kanit
  color: white
  margin: 0 0

.nav
  color: white
  background: purple

.links
  list-style:none
  display:flex
  li
    flex:1

.header
  background: purple
  height: 1000px
  // padding 2rem
//   max-width 500px
//   margin 50px auto
//   border 2px solid black
//   height: 1000px

.about
  height: 1000px
  background: pink

.portfolio
  height: 1000px
  background: yellow

.contact
  height: 1000px
  background: minsk

.social
  height: 1000px
  list-style:none
  display:flex
  li
    flex:1
    
.logo
  height: 40px

