// Import all partials
@require './_*.styl'

ul, menu, dir
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

.nav
  color: white
  background: purple

.links
  list-style:none
  display:flex
  li
    flex:1

.header
  background: purple
  // height: 1000px
  // padding 2rem
//   max-width 500px
//   margin 50px auto
//   border 2px solid black
//   height: 1000px

.about
  // height: 1000px
  background: pink

.portfolio
  // height: 1000px
  background: yellow

.contact
  // height: 1000px
  background: minsk

.social
  // height: 1000px
  list-style:none
  display:flex
  li
    flex:1
    
.logo
  height: 40px

