// Import all partials
@require './_*.styl'

body
  background: linear-gradient(90deg,#6E77CF 0,#FFEA00 100%)
	font-family: verdana
	user-select: none

.header
  background white
  max-width 500px
  margin 50px auto
  padding 2rem
  border 2px solid black

       
      